.container {
    width: 70%;
    margin: 0 auto;
    &--main {
        display: grid;
        grid-row: 3;
        gap: 1rem;
    }
}

.content {
    &--grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 2rem;
        justify-items: center;
        align-items: center;
    }
}

.footer {
    &--center{
        display: grid;
        justify-items: center;
    }
    
}