.button {
    display: inline-block;
    padding: .7rem .3rem;
    margin: 0 .5rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .15s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: -1px 10px 19px -4px $primary-text-color;
    }

    &:active {
        transform: translateY(2px);
    }   

    &--warn {
        border: 2px solid $accent-color;
        background-color: $accent-color;
        color: white;
    }

    &--info {
        border: 2px solid $success-color;
        background-color: $success-color;
        color: white;
    }

    .button_img {
        font-size: 2rem;
    }
    span {
        padding: 5px;
    }

}
