.buttons {
    margin-top: .1rem;
    
    .button {
        padding: .7rem .3rem;
        margin: 0 auto;
        border: 2px solid black;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: -1px 10px 19px -4px $primary-text-color;

        &:active {
            transform: translateY(4px);
        }

        &--primary {
            border: 2px solid $accent-color;
            background-color: $accent-color;
        }

        &--info {
            border: 2px solid $success-color;
            background-color: $success-color;
        }

        &--danger {
            border: 2px solid $danger-color;
            background-color: $danger-color;
        }
    }
}