.card {
    width: 100%;
    text-align: center;
    padding: 1rem;
    transition: all .4s;

    &_title {
        font-size: 1.5rem;
    }

    &:hover {
        box-shadow: -1px 5px 24px 9px $divider-color;
    }

    .status{
        padding: 1.5rem;
        margin: .5rem;
        &--up {
            background-color: green;
            color: white;
            font-weight: bolder;
        }
        &--down {
            background-color: tomato;
            color: white;
            font-weight: bolder;
            animation-name: blowing;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }

    border-bottom: 5px solid $divider-color;
    border-radius: 10px;    
}