.form {
    margin: 1rem auto;
    width: 50%;
    text-align: center;

    .form_control {
        margin: 1rem 0;
        label h2 {
            margin: .5rem;
        }
    }

}

input {
    width: auto;
    height: 2rem;
    @include input-base;
}

textarea {
    resize: none;
    border-inline: 5px;
    font-size: 1rem;
    @include input-base;
}