doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Monitor Web
    body
        .hero 
            .hero__title
                h1 Monitor Web 
            .hero__content
                p Registra. Espera. Descansa :D

        .container
            each n in [1,2,3,4,5]
                .column
                    .card.success
                        .card__title 
                            h2.text_center Web Name
                        .card__img 
                            img(src="https://picsum.photos/150")
                        .card__content.text_center
                            .buttons
                                button.button.button--primary Actualizar
                                button.button.button--info Visitar
                                //button.button.button--danger Eliminar
            each n in [1,2,3,4,5]
                .column
                    .card.danger
                        .card__title 
                            h2.text_center Web Name
                        .card__img 
                            img(src="https://picsum.photos/150")
                        .card__content.text_center
                            .buttons
                                button.button.button--primary Actualizar
                                button.button.button--info Visitar
                                //button.button.button--danger Eliminar
        footer.footer 
            p.text_center Creado por: 
                span.bold GD4U
