doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Web Monitor
    body
        .modal#page_registry
            .modal_background
            .modal_content
                .hero
                    h2.title Registra una p치gina
                    p.subtitle Dinos que p치gina quieres que revisemos
                form.form(action="#")
                    .form_control
                        label(for="page_name") Nombre
                        input#page_name(type="text")
                    .form_control
                        label(for="page_url") URL
                        input#page_name(type="url")
                    .buttons
                        button.button--primary(type=submit) Guardar
                        button.button--warn(type=reset) Limpiar
                        button.button--danger Cancelar

        .modal#phrase_registry
            .modal_background
            .modal_content
                .hero
                    h2.title Registra una frase
                    p.subtitle Las frases apareceran aleatoriamente cuando una pagina este fuera de lineaz
                form.form(action="#")
                    .form_control
                        label(for="page_url") Frase
                        input#page_name(type="url")
                    .buttons
                        button.button--primary(type=submit) Guardar
                        button.button--warn(type=reset) Limpiar
                        button.button--danger Cancelar

        .hero
            h1.title Web Monitor
            p.subtitle Atento a cuando internet se cae.

        nav.navbar
            h2 Opciones
            .options
                button.button(title="Agregar P치gina")
                    i.fa.fa-globe.button_img
                    span Agregar P치gina
                button.button(title="Agregar Frase")
                    i.fa.fa-pencil.button_img
                    span Agregar Frase

        
        .container.container--main
            .content--grid
                each v in [1,2,3,4,5,6,7,8,9,0]
                    .card
                        .card_title Nombre de la pagina
                        .card_body
                            .status.status--up UP
                        .card_footer
                            button.button.button--warn Actualizar
                            button.button.button--info Visitar
                    .card
                        .card_title Nombre de la pagina
                        .card_body
                            .status.status--down DOWN
                        .card_footer
                            button.button.button--warn Actualizar
                            button.button.button--info Visitar
        footer.footer.footer--center
            p.subtitle Created by 
                span.bold @manicar2093