doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Opciones | Monitor Web
    body

        .hero 
            .hero__title
                h1 Registra una frase
            .hero__content
                p Estas frases las mostraremos aleatoriamente cuando una de las paginas no responda correctamente.
        .container
            .form
                form#fraseForm
                    .form_control 
                        label(for="frase")
                            h2(class="text_center") Frase
                        textarea(name="frase" id="frase" cols="40" rows="3")
                    .buttons
                        button.button.button--primary(type="submit") Registrar
                        button.button.button--danger(type="reset") Limpiar

            .registrados 
                h1 Frases Registradas 
                ul 
                    li frase
                    li frase
                    li frase
                    li frase
                    li frase


        footer.footer 
            p.text_center Creado por: 
                span.bold GD4U